#mainBody{
  height: 100%;
  background-image: linear-gradient(to bottom right, #071461, #0B3583);
}

#homeBody{
  width: 100%;
}

#sortSelect{
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1;
  display: inline-block;
}

#logonContainer{
  margin: 0 auto;
}

#navBarText{
  vertical-align: middle;
  display: inline-block;
  margin: auto;
}

#WhiteText{
  text-align: center;
  color: white;
}

#center{
  margin: auto;
  text-align: center;
}

#hidden{
  display = none;
}

#title{
  font-size: 80px;
  color: white;
  text-align: center;
  margin:auto;
}

#subtitle{
  font-size: 20px;
  color: white;
  padding-left: 20px;
}

#sideNav{
  background-image: linear-gradient(to bottom right, #071461, #0B3583);
  color: white;
  height: 100%;
  position:fixed;
  min-width: 250px;
  max-width:250px;
}

#DriverContent{
  /*padding-left: 10px;*/
}
#buttonList{
  text-align: center;
}

#mainContent{
  margin-left: 250px;
  top:0;
}

#cartBody{
  top:0;
  margin-right:250px;
}

#cartSideBar{
  /*background-image: linear-gradient(to bottom right, #071461, #0B3583);*/
  background-color: grey;
  color: white;
  height: 100%;
  position:fixed;
  min-width: 250px;
  max-width: 250px;
  right:0;
  top:0;
}

#AccountPicture{
  vertical-align: middle;
  margin: auto;
  display: inline-block;
  border-radius: 1px solid white;
}

#AccountText{
  vertical-align: middle;
  display: inline-block;
  margin:auto;
}

#AccountProfile{
  border-radius: 0rem;
  padding-top:12px;
  padding-bottom:12px;
}

#buttonContainer{
  z-index: 1;
  bottom: 20px;
  right: 20px;
  position: fixed;
  background-size: auto;
  text-align: center;
}
#circular{
  margin-top: 5px;
  width: 70px;
  height: 70px;
  border-radius: 45px;
  font-size: 25px;
  text-align: center;
  box-shadow: 1px 1px 5px grey;
}
.table td{
  vertical-align: middle;
}

@media only screen and (max-width: 1026px){
  #profilepic{
	display: none;
}
}

